.chipbot-com .banner-container {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  
  .button {
    margin-bottom: 10px;
  }
  
  > div {
    flex: 0 0 45%;
  }
}

@media (max-width: 700px) {
  .chipbot-com .banner-container > div {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

.chipbot-com .video-container {
  position: relative;
  padding-bottom: 56.25%;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.chipbot-com .preview-container {
  position: relative;
  aspect-ratio: 410 / 740;
  max-width: 400px;
  background: #f0f0f0;
  border-radius: 6px;
  border: solid 2px #ccc;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.chipbot-com .install-snippet {
  font-family: monospace;
  width: 100%;
  min-height: 150px;
  font-size: 14px;
}
